*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.b1{
    width: 1160px;
    height: 833px;
    gap: 0px;
    border-radius: 40px;
    background: #343C56;
}
.b2{
    justify-content:space-evenly ;
    display: flex;
    align-items: center;
    height: 100px;
}
.box1{
    width: 200px;
    height: 40px;
    gap: 0px;
    border-radius: 30px;
    background: #FF0101;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}
img{
    width: 400px;
    height: 200px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}
.FlexBox{
    width: 264px;
    height: 118px;
    gap: 0px;
    border-radius: 40px;
    background: #000000;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
.box4{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.b5{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}
.box7{
    width: 400px;
    height: 200px;
    gap: 0px;
    border-radius: 50px;
    background: #EB1616;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}
.b3{
    width: 300px;
    height: 109px;
    background: #61FF00;
}
h3{
    
    text-align: center;
}